$light-gray: #f8f8f8;
$dark-blue: #28527a;
$blue: #607d8b;

.registerContainer {
   display: flex;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   background-color: $blue;
}

.register-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: $light-gray;
   margin-top: 50px;
   height: 620px;
   width: 400px;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.register-logo {
   margin-top: 40px;
   margin-bottom: 20px;
   width: 240px;
   height: 60px;
   border-radius: 10px;
}

.register-input-field {
   display: flex;
   height: 35px;
   width: 85%;
   background: white;
   border-radius: 8px;
   border: 1px;
   border-bottom: white;
   margin: 10px 0;

   &.is-invalid {
      border-radius: 8px;
      border: 1px solid red;
   }
   
}

.pw-register-input-field {
   display: flex;
   height: 35px;
   width: 85%;
   background: white;
   border-radius: 8px;
   border: 1px;
   border-bottom: white;
   margin: 10px 0;

   &.is-invalid {
      border-radius: 8px;
      border: 1px solid red;
   }
   
}

.pwNote {
   font-size: 8px;
}

.register-btn {
   width: 260px;
   height: 40px;
   background-color: $dark-blue;
   color: $light-gray;
   text-decoration: none;
   border-radius: 25px;
   font-size: 1.1em;
   margin: 20px 10px 18px 10px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   border: none;

}